# Video Files & Outputs
output/
videos/
*.mp4
*.mkv

# Python Environment
__pycache__/
.venv/
.env

# OS files
.DS_Store
Thumbs.db

# Other folders
other/

# Other files
numberDesign.png
process - BAK1.py
process - BAK2.py
process - BAK3.py
app - BAK1.py
